*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --BACKROUND_ACCENT_T: rgba(161, 1, 1, 0.8);
    --BACKROUND_LIGHT_T: rgba(44, 28, 35, 0.8);
    --BACKROUND_DARK_T: rgba(0, 0, 0, 0.7);

    --TEXT_PRIMARY_COLOR: #FFF;
    --TEXT_ACCENT_COLOR: rgba(161, 1, 1);

    --FONT-STYLE-PRIMARY: "Poiret One", sans-serif;;
    --FONT-STYLE-SECONDARY: "Spirax", system-ui;
}

