@import url("./global.css");

html, body, main {
    height: 100%;
    margin: 0;
    font-family: var(--FONT-STYLE-PRIMARY);
    font-size: 1.1rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--BACKROUND_LIGHT_T);
    margin-top: 1rem;
    z-index: 1000;
}

.mainNav {
    display: flex;
    width: 100%;
    padding: 0 30%;
    justify-content: space-between;
}

.mainNav__link {
    text-decoration: none;
    font-size: 2.6rem;
    font-family: var(--FONT-STYLE-SECONDARY);
    color: var(--TEXT_PRIMARY_COLOR);
}
