.menuSection {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0 10%;
    height: 100%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: beige;
    border-bottom: 1rem solid var(--TEXT_ACCENT_COLOR);
}

#hot {
    background-image: url("../assets/hot.jpg");
}

#juicy {
    background-image: url("../assets/juicy.jpg");
}

#cosy {
    background-image: url("../assets/cosy.jpg");
}

.menuSection:target {
    display: flex;
}

.menuSection__title {
    color: var(--TEXT_ACCENT_COLOR);
    font-size: 6rem;
    font-family: var(--FONT-STYLE-SECONDARY);
    font-weight: bolder;
    margin: 0;

}

.menuSection__description {
    background-color: var(--BACKROUND_ACCENT_T);
    color: var(--TEXT_PRIMARY_COLOR);
    font-size: 1.3rem;
    padding: 2% 4%;
    text-align: center;
    width: 75%;
}

.menuSection__description.shiftLeft {
    margin: 0 20% 0 0;
}

.menuSection__description.shiftRight {
    margin: 0 0 0 20%;
}

.menuSection__ingredients {
    background-color: var(--BACKROUND_DARK_T);
    color: var(--TEXT_PRIMARY_COLOR);
    font-size: 1.3rem;
    padding: 2% 6%;
    text-align: center;
    width: 75%;
    list-style: none;   
}

.menuSection__ingredientsItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

@media (max-width: 640px) { 
    .menuSection__description.shiftRight {
        display: none;
    }

    .menuSection__ingredients {
        width: 96%;   
    }

    .menuSection__description.shiftLeft {
        margin: 0;
        width: 96%;
    }
}
